[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-cloud-api-keys = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
oauth2client = "*"
numpy = "*"
psycopg2 = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.11"
